/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* html, body {
    height: 100%;
} */
/* .sidebar {
    position: fixed;
    left: 0;
    background-color: black;
    width: 20%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: white;
} */

/* .pet-stats { */
    /* height: 30px; */
    /* margin: 20px 0;
} */
/* 
hr {
    margin: 10px 0;
}

.search-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 15px;
    background-color: rgb(223, 223, 223);
    color: black;
    border-radius: 20px;
    padding: 5px 20px;
    border: 1px red solid;
} */



/* start here */

:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #dbdbdb;
    --lighter: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--lighter);
    color: #fff;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--light);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 2%;
}
.sidenav #logo {
    height: auto;
    width: 110%;
    display: block;
    margin-left: -10%;
    margin-top: -5%;
}

.sidenav #vp {
    height: auto;
    width: 70%;
    border-radius: 100%;
    border-color: red;
    border-width: 10vh;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
}  

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin-left: 20%;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);

}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin-left: 20%;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;

}

.task-list {
    padding: 1rem;
}

.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

/* */

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* html, body {
  height: 100%;
} */
.sidebar {
    position: fixed;
    left: 0;
    background-color: rgb(209, 117, 117);
    display: flex;
    flex-direction: column;
    color: white;
}

.pet-stats {
    /* height: 30px; */
    margin: 20px 0;
}

hr {
    margin: 10px 0;
}

hr {
    border-radius: 20px;
    padding: 5px 20px;
    border: 1px rgb(85, 14, 67) solid;
}

#defaultCanvas0 {
    position: absolute;
    top: 0;
    z-index: -1;
}
.circle-blob::-webkit-scrollbar {
    display: none;
}

.circle-blob {
    min-width: 50px;
    min-height: 50px;
    height:auto;
    width:auto;
    aspect-ratio: 1/1;
    /* overflow:scroll; */

    background: hotpink;

    /* Make it a circle */
    border-radius: 50%;

    /* Center content inside it */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Make it positionable */
    position: absolute;
}

.circle-image {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}