@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#defaultCanvas0 {
  position: absolute;
  top: 0;
  z-index: -1;
  /* display: none; */
}
.circle-blob::-webkit-scrollbar {
  display: none;
}

.circle-blob {
  min-width: 50px;
  min-height: 50px;
  height: auto;
  width: auto;
  aspect-ratio: 1;
  /* overflow:scroll; */

  background: hotpink;

  /* Make it a circle */
  border-radius: 50%;

  /* Center content inside it */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Make it positionable */
  position: absolute;
}

* {
  
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
}

sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width:250px;
  width: 250px;
  padding: 0 1rem;
  align-items: stretch;
  background: #E4E4E4;
  overflow-y: auto;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#taskline-logo {
  width: 100%;
}

#duck-image-container {
  margin: -0.8rem 1rem;
}

#duck-image, #duck-image-container {
  aspect-ratio: 1;
  max-width: 100%;
}

#duck-image {
  border-radius: 50%;
  border: 10px solid #98CB86;
  padding: 2rem;
  height: 200px;
  width: auto;
  box-sizing: border-box;
  position: relative;
  top: -3rem;
  background: white;
}

#duck-counter {
  position: relative;
  right: -153px;
  top: 16px;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #F6B50F;
  font-size: 1.4rem;
  font-weight: 700;
  border: 8px solid #F6B50F;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1;
}

#virtualpet-stats, #notifications {
  margin-top: 2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  list-style: none;
}

#virtualpet-stats-heading, #notifications-heading {
  color: #4D4D4D;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.virtualpet-stats-element, .notifications-element {
  background: white;
  color: rgb(70, 70, 70);
  /* height: 1rem; */
  border-radius: 4px;
  font-size: 11px;
}

.notifications-element {
  padding: 8px;
}

#notifications {
  padding: 1.2rem;
  border-radius: 10px;
  background: #D0D0D0;
  gap: 0.7rem;
}


.notifications-course-title {
  font-weight: bold;
  /* color: black; */
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#back-and-home{
  padding:8px;
  top:30px;
  left:302px;
}
#sign-in-button {

  position: fixed;
  top:20px;
  right:20px;

  /* margin: 12px 25px; */
  padding: 0.45rem 0.8rem;
  background: rgb(82, 98, 216);
  color: white;
  font-weight: 400;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid gainsboro;
}
#sign-in-button:hover{
  opacity:0.6;
}

.buttons{
  margin: 12px 25px;
  padding: 0.4rem 0.6rem;
  background: rgb(216, 95, 82);
  color: white;
  font-weight: 400;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid gainsboro;
}
.buttons:hover{
  opacity: 0.5;
}

#back-to-course{
  position:absolute;
  top:10px;
  left: 320px;
  margin-left: 0px;
}

#back-to-home-button {
  position:absolute;
  top:10px;
  left: 360px;
  /* margin-left: 0px; */
}

#home-icon {
  color: white;
  height: 20px;
  width: 20px;
}


#auth-status {
  display: inline;
  padding-left: 25px;
}

.classroom-box {

  margin: 2rem 2rem 2.5rem 7rem;
  --border-radius: 3rem;
  --border-thickness: 4px;
  border-radius: var(--border-radius);
  border: var(--border-thickness) solid #969696;
  height: 90%;
  width: 250px;;
  z-index: 10;
  /* display: flex; */
}

.classroom-box--hidden {
  display: none;
}

.profile-picture {
  aspect-ratio: 1;
  border-radius: 50%;
  border: var(--border-thickness) solid #969696;
  height: 80%;
}

.classroom-header {
  background: white;
  display: flex;
  align-items: center;
  /* width: 100%; */
  padding: 0.7rem 0.5rem;
  gap: 1rem;
  border-radius: calc(var(--border-radius) - var(--border-thickness));
  border: var(--border-thickness) solid #969696;
  margin: calc(0px - var(--border-thickness));
  height: calc(0.8*var(--border-radius));
}

.classroom-banner-text {
  font-weight: 500;
  font-size:large;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}
#profname{
  color: #474747;
  font-size: small;

}

  .classroom-banner-text > span:first-child {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: -3px;
  }

  .classroom-banner-text > span:last-child {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
  }

#classroom-box-list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#classroom-box-background {
  position: absolute;
  top: 150px;
  /* width: calc(100% - 0px); */
  min-width: 100%;
  margin: 0 1.4rem;
  height: 90%;
}

#classroom-box-background > * {
  min-width:3000px;
  height: 15%;
  align-self: stretch;
  z-index: 0;
  border-left: 7px solid #48F939;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0.75rem;
  font-size: 0.7rem;
  color: #333;
}

#classroom-box-background > *:nth-child(1) {
  background: #48F93919;
  border-color: #bdcdbb;
  justify-content: space-between;
}

#classroom-box-background > *:nth-child(2) {
  background: #FFE14626;
  border-color: #bdcdbb;
}

#classroom-box-background > *:nth-child(3) {
  background: #FF990033;  
  border-color: #bdcdbb;
}

#classroom-box-background > *:nth-child(4) {
  background: #FF000033;
  border-color: #bdcdbb;
}
.task-details-div{
  align-self: center;
  background-color: #E4E4E4;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 6%;
  overflow: scroll;
  min-width: 500px;
  min-height: 75%;
  max-height: 79%;
  padding: 15px;
/* height: fit-content; */
  /* height: 80%; */
  margin-top: 20px;
  
  z-index: 0;
  border: 7px solid #646764;
  
  /* justify-content: flex-end; */
  /* padding-left: 0.75rem; */
  font-size:small;
  /* font-size: 0.7rem; */
  color: rgb(250, 245, 245);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: none;
  border-radius: 100vw;
  margin-block: .15em;
}
::-webkit-scrollbar-thumb{
  border-radius: 100vw;
  background-color: #ef9a87;
  border:.25em;
  border-color: #ef9a87;
}
.class-title{
  font-weight: bolder;
  color:black;
  font-size: large;
  padding: 0 1em;
  padding-bottom:0em;
}
.due-date,.update-time{
  color: black;
  /* padding: 0 1em; */
  margin: 0px;
  font-size: smaller;
}
.due-date{
  font-size: medium;
  color: rgb(229, 61, 61);
  padding-top: 0.7em;
}
.task-description{
  overflow: scroll;
  
  color:black;
  margin: 1em;
  border-radius: 2%;
  background-color: #ffffff;
padding: 5px;
}
.task-attachment-item{
  width: fit-content;
  color: black;
  margin:1em;
  display: flex;
  flex-direction: row;
  padding: 5px;
  /* border: 0.2px solid black; */
}

#classroom-button {
  width: 50%;
  margin: 0 auto;
  /* margin: 12px 25px; */
  padding: 0.45rem 0.8rem;
  background: rgb(82, 98, 216);
  color: white;
  font-weight: 400;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid gainsboro;
}
#classroom-button:hover{
  opacity:0.6;  
}

.task-name{
  margin: 2px;
  display: flex;
  align-items: center;

}

/* xiao, add task-item css here only */
.task-item {
  margin: 10px;
  border-radius: 20px;
  padding: 10px;
}
.task-item-hidden {
  display: none;
}



  /* BUTTONS FORMATTING  */


#green{
  position:absolute;
  z-index: 50;
  top:184px;
  left:301px;
  width:8px;
  height:30px;
  background-color: #48F939;
  border-radius: 10px;
  border: 1px solid rgb(72, 133, 14);
}
#green:hover{
  background-color: #c7ffb2;
}
#yellow{
  position:absolute;
  z-index: 50;
  top:284px;
  left:301px;
  width:8px;
  height:30px;
  background-color: #FFE146;
  border-radius: 10px;
  border: 1px solid rgb(72, 133, 14);

}
#yellow:hover{
  background-color:#eef35c;
}
#orange{
  position:absolute;
  z-index: 50;
  top:380px;
  left:301px;
  width:8px;
  height:30px;
  background-color: #FF9900;
  border-radius: 10px;
  border: 1px solid rgb(72, 133, 14);
  
}
#orange:hover{
  background-color: #f5b732
}

#red{
  position:absolute;
  z-index: 50;
  top:478px;
  left:301px;
  width:8px;
  height:30px;
  background-color: #FF0000;
  border-radius: 10px;
  border: 1px solid rgb(72, 133, 14);
  

}
#red:hover{
  background-color: #e29a8b;

}


.task-item--highlight {
  border: 5px red solid;
}


